<mat-toolbar>
    <mat-icon>landscape</mat-icon>
    <span>Mount St. Helens</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    
    <mat-sidenav mode="side" opened>
        <mat-card>
            <mat-card-title>Threshold</mat-card-title>
            <mat-card-content>
                <mat-slider></mat-slider>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Longitude</mat-card-title>
            <mat-card-content>
                <mat-slider></mat-slider>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Latitude</mat-card-title>
            <mat-card-content>
                <mat-slider></mat-slider>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <mat-grid-list cols="1" rowHeight="2:1">
            <mat-grid-tile>
                <canvas #canvas id="canvas" class="canvas"></canvas>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav-content>

</mat-sidenav-container>


